@font-face {
  font-family: 'pacificoregular';
  src: url('fonts/pacifico-regular-webfont.woff2') format('woff2'),
       url('fonts/pacifico-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

body {
  display: flex;
  margin: 0;
}

#left-col {
  height: 100vh;
  width: 36%;
}

#right-col {
  height: 100vh;
  width: 64%;
}

#left-col-img {
  height: 100%;
  width: auto;
}